* {
    text-decoration: none;
    list-style: none;
}

body {
    top: 500px;
    background-color: rgb(175, 172, 172);
    
}

/* Header */

.header {
    top: 0;
    width: 100%;
    background-color: rgb(93, 182, 152);
}
.Logo {
    font-size: 60px;
    color: rgb(0, 0, 0);
    margin-left: 50px;
}

.Logo:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid rgb(89, 173, 145);
    border-radius: 10px;
    background-color: rgb(89, 173, 145);
}


/* NavBar */

.navbar {
    top: 10px;
    right: 10px;
    position: absolute;
}

#list {
    background-color: rgb(240, 237, 237);
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    padding: 10px;
    position: absolute;
    justify-content: space-between;
    top: 55px;
    right: 50px;
}

.nav-list li {
    margin-bottom: 15px; /* met un espace entre les élements de la liste */
}

.nav-list li a {
   color: black;
   text-decoration: none;
   font-size: 20px;
   margin-left: 10px;
}

.nav-list li:hover { /*:hover concerne élément survolé par curseur*/
    border-radius: 10px;
    background-color: rgba(214, 210, 210, 0.747);
}

.hidden {
    display: none;
}

/* Button */

.custom-button { /* bouton navbar*/
    background-color: rgb(209, 207, 207);
    color: rgb(0, 0, 0);
}
.custom-button:hover{
    background-color: rgba(214, 210, 210, 0.747);
}

.button-connect {
    background-color: aliceblues;
}

/* Connection */

.signin {
    border-radius: 10px;
    background-color: rgba(214, 210, 210, 0.747);
    width: 50%;
    margin-left: 450px;
    margin-top: 100px;
    padding: 10px;
}

.signin h1 {
    margin-left: 300px;
}

.signin .username {
    margin-left: 15px;
}

.form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/*Profile nav bar */
/* lien active */

.active {
    background-color: red; /* Fond rouge pour le lien actif */
    color: white; /* Texte blanc pour le lien actif */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image-ronde {
    border-radius: 50%; /* Utilisez 50% pour obtenir une forme circulaire */
    width: 200px; /* Ajustez la largeur au besoin */
    height: 200px; /* Ajustez la hauteur au besoin */
}

.navProfile {
    width: 300px;
    background-color: cadetblue;
    height: 100vh;
    float:left;
}

.navProfile li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;

 }

.ProfilBarDeconnect {
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.BaseProfileContent {
    margin: 310px;
    height: 100%;
}
