* {
    text-decoration: none;
    list-style: none;
}

body {
    top: 500px;
    background-color: rgb(241, 239, 239);
    width: 100%;
    
}

/* Message d'erreur/ Success */

#Message{
    position: absolute;
    left: 35%;
}

/* Style pour les messages d'erreur */
.ErrorMessage {
    color: red;
}

/* Style pour les messages de succès */
.SuccessMessage {
    color: green;
}

/* Header */

.header {
    top: 0;
    width: 100%;
    background-color: rgb(33, 57, 59);
}
.Logo {
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-left: 50px;
}

.Logo:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(58, 115, 121);
}


/* NavBar */

.navbar {
    top: 10px;
    right: 10px;
    position: absolute;
}

#list {
    background-color: rgb(240, 237, 237);
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    position: absolute;
    justify-content: space-between;
    top: 55px;
    right: 50px;
    z-index: 2;
}

.nav-list li {
    margin-bottom: 15px; /* met un espace entre les élements de la liste */
}

.nav-list li a {
   color: black;
   text-decoration: none;
   font-size: 20px;
   margin-left: 10px;
}

.nav-list li:hover { /*:hover concerne élément survolé par curseur*/
    border-radius: 10px;
    background-color: rgba(214, 210, 210, 0.747);
}

.hidden {
    display: none;
}

/* Button */

.custom-button { /* bouton navbar*/
    background-color: rgb(209, 207, 207);
    color: rgb(0, 0, 0);
}
.custom-button:hover{
    background-color: rgba(214, 210, 210, 0.747);
}

.button-connect {
    background-color: aliceblues;
}

/* Connection */

.signin {
    border-radius: 10px;
    background-color: rgba(214, 210, 210, 0.747);
    width: 50%;
    margin-left: 450px;
    margin-top: 100px;
    padding: 10px;
}

.signin h1 {
    margin-left: 300px;
}

.signin .username {
    margin-left: 15px;
}

.form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/*Profile nav bar */


/* lien active */

.active {
    background-color: rgb(58, 115, 121); /* Fond rouge pour le lien actif */
    color: white; /* Texte blanc pour le lien actif */
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    width: 250px;
    text-align: center;
}

/* image de profil */

.image-ronde {
    border-radius: 50%; /* Utilisez 50% pour obtenir une forme circulaire */
    width: 200px; /* Ajustez la largeur au besoin */
    height: 200px; /* Ajustez la hauteur au besoin */
    margin-left: 50px;
    margin-top: 20px;
}

.username {
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    color: white;
}

/* bar de navigation des pages lier au compte */

.navProfile {
    width: 15%;
    min-width: 300px;
    background-color: rgb(33, 57, 59);
    height: 100vh;
    float:left;
}

.navProfile li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    padding-left: 10px;
    
 }
 .navProfile li a:hover {
    background-color: rgb(58, 115, 121); /* Fond rouge pour le lien actif */
    color: white; /* Texte blanc pour le lien actif */
    outline: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    width: 250px;
 }

.ProfilBarDeconnect {
    padding: 15px;
    text-align: center;
}

.ProfilBarDeconnectButton {
    color: rgb(0, 0, 0);
}

.ProfilBarDeconnectButton:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.BaseProfileContent {
    margin: 310px;
}


/* Profile page */

.ProfilePage {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 80%;
    min-width: 300px;
    margin: auto;
    z-index: 1;
}

#MyProfile {
    text-align: center;
    font-size: 60px;
}

#NameProfile {
    font-size: 40px;
    margin-left: 5%;
}
#MemberProfile {
    margin-left: 5%;
}

#FormProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(209, 207, 207);
    border-radius: 5px;
    width: 500px;
    margin: auto;
    background-color: #e7e7e7;
    
}
form {
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

#profilePicture {
    border: 1px solid #e7e7e7;
}

.BtnSaveProfile{
    background-color: #e7e7e7;
    border: 1px solid rgb(0, 0, 0);
}
.BtnSaveProfile:hover{
    background-color: #cccccc;
}

/* Account page */

#BtnDellAccount {
    position: absolute;
    right: 10px;
}

#BtnDellAccount:hover {
    background-color: red;
    border-radius: 5px;
}

/* Delete Account Page */

.DeleteAccountPage {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 80%;
    min-width: 300px;
    margin: auto;
    z-index: 1;
    text-align: center;
}

.DeleteAccountPage a {
    text-decoration: none;
    color: inherit;
}

.BtnDeletedAccount {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.BtnDeletedAccount:hover{
    background-color: #ff0000; /* Couleur de fond rouge au survol */
    color: #ffffff; /* Couleur du texte blanche au survol */
    cursor: pointer; /* Curseur indiquant que le bouton est actif */
}

.BtnDeletedAccountExit {
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    
}
.BtnDeletedAccountExit:hover{
    text-decoration: none;
    background-color: green; /* Couleur de fond rouge au survol */
    color: #ffffff; /* Couleur du texte blanche au survol */
    cursor: pointer; /* Curseur indiquant que le bouton est actif */
    border-radius: 5px;
}

/* Locarist Page */

.LocaristPage {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 80%;
    min-width: 300px;
    margin: auto;
    z-index: 1;
}

#Locarist {
    text-align: center;
    font-size: 40px;
}

#DisplayFlexDirectionColumns {
    display:flex;
    flex-direction: row;
}

#FormLocarist{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(209, 207, 207);
    border-radius: 5px;
    width: 500px;
    margin: auto;
    background-color: #e7e7e7;
}

/* Page de contact, dont id="contact_body"*/
#contact_body h1{ 
    /* Ne concerne seulement la balise <h1> */
    text-align: center;
}
