{% extends 'listings/BaseProfile.html' %}
{% load static %}
{% block content %}

    <div class="DeleteAccountPage">
        
        <h2>Supprimer le compte</h2>
        <p>Êtes-vous sûr de vouloir supprimer votre compte ?</p>

            <form method="post" action="">
                {% csrf_token %}
                <button type="submit" class="BtnDeletedAccount" onmouseover="activerBouton()">Supprimer le compte</button>
                <button type="button" class="BtnDeletedAccountExit"><a href="{% url 'Account' %}">Annuler</a></button>
            </form>
    </div>

{% endblock%}