{% extends 'listings/BaseProfile.html' %}
{% load static %}
{% block content %}
    <div class="LocaristPage">
        <div id="Locarist">
            {% if user.locarist %}

                <h2> Bonjour Locarist </h2>
                
                <h3>Ajouter une Voiture</h3>

            {% else %}
                
                <h2> Bonjour {{ user.username }} bienvenue sur Votre Futur Page de gestion de vos véhicules</h2>

                <h3>Nous allons enregistrer votre premier véhicules ensemble.</h3>

            
            
            {% endif %}
        </div>
        <div id="FormLocarist">
            <form method="post" action="">
                {% csrf_token %}
                <div id="DisplayFlexDirectionColumns">
                    <label for="marque">Marque</label>
                    <input type="text" id="marque" name="marque" value="{{ car.marque }}" required>
                    <br>
                    <label for="model">Modèle :</label>
                    <input type="text" id="model" name="model">
                </div>

                <br>
                <label for="year">Année :</label>
                <input type="text" id="year" name="year">
                <br>
                <label for="licence_plate">Plaque d'Immatriculation :</label>
                <input type="text" id="licence_plate" name="licence_plate">
                <br>
                
                       <label for="km">Compteur Kilométrique :</label>
                <input type="text" id="km" name="km">
                <br>
                
             

                <label>Type de carburant :</label>
                <div id="DisplayFlexDirectionColumns">
                    <input type="radio" name="fuel" value="A" {% if selected_fuel_type == 'A' %}checked{% endif %}> Essence
                    <input type="radio" name="fuel" value="B" {% if selected_fuel_type == 'B' %}checked{% endif %}> Diesel
                    <input type="radio" name="fuel" value="C" {% if selected_fuel_type == 'C' %}checked{% endif %}> Hybride
                    <input type="radio" name="fuel" value="D" {% if selected_fuel_type == 'D' %}checked{% endif %}> Électrique
                </div>
                <br>

                <div id="DisplayFlexDirectionColumns">
                    <label for="country">Pays :</label>
                    <br>
                    <input type="text" id="country" name="country">
                    <br>
                    <br>
                    <label for="city">Ville</label>
                    <input type="text" id="city" name="city">
                </div>
                    <br>
                    <br>
                    <label for="street">Rue</label>
                    <input type="text" id="street" name="street">
                

                <br>
                <br>


              

                <button type="submit" class="btn custom-button">Sauvegarder</button>
            </form>
        </div>

    </div>
{% endblock %}