{% extends 'Base.html' %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}
<h3> Bonjour {{ user.username }} bienvenue sur Locars</h3>
voici votre numéro de téléphone {{ user.phone_no }}
<br>
{{ user.first_name }}
<br>
{{ user.last_name }}
<button type="submit"><a href="{% url 'Logout' %}">Déconnexion</a></button>
{% else %}
<button type="submit"><a href="{% url 'Register' %}">S'enregistrer</a></button>
<button type="submit"><a href="{% url 'Login' %}">se connecter</a></button>
{% endif %}

<div>
    <form method="post" action="">
        {% csrf_token %}
        <label>Ville</label>
        <input type="text" id="city" name="city">
        <br>
        <label>Pays</label>
        <input type="text" id="country" name="country">
        <br>
        <!--
        <label>Départ</label>
        <input type="date" id="dateInput" name="dateInput">
        <br>
        -->   
       
        <label>Marque</label>
        <input type="text" id="marque" name="marque">
        <br>
        <label for="model">Model</label>
        <input type="text" id="model" name="model">
        <br>
        <button type="submit" class="btn custom-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
    </form>
</div>



<script>
    // Obtenez la date d'aujourd'hui au format "YYYY-MM-DD"
    const today = new Date().toISOString().split('T')[0];

    // Définissez la valeur de l'input sur la date d'aujourd'hui
    document.getElementById('dateInput').value = today;
  </script>


{% endblock %}

