{% extends 'Base.html' %}
{% load static %}
{% block content %}


<div>
    <form method="post" action="">
        {% csrf_token %}
        <label>Ville</label>
        <input type="text" id="city" name="city">
        <br>
        <label>Pays</label>
        <input type="text" id="country" name="country">
        <br>
        <!--
        <label>Départ</label>
        <input type="date" id="dateInput" name="dateInput">
        <br>
        -->   
       
        <label>Marque</label>
        <input type="text" id="marque" name="marque">
        <br>
        <label for="model">Model</label>
        <input type="text" id="model" name="model">
        <br>
        <button type="submit" class="btn custom-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
    </form>
</div>

{% for car in cars %}
    <div class = 'box-cars'>
        <img src="{{ car.ProfileCarPicture.url }}" class="image-ronde">

        <br>

        <strong>{{ car.marque }} {{ car.model }} ({{ car.year }}Km)</strong>
        {{ car.Price }}€

        <br>
    </div>
{% endfor %}
<form method="post" action="">
    {% csrf_token %}
    <button type="submit">Filtrer</button>
</form>


<script>
    // Fonction pour afficher ou masquer le menu déroulant
    function toggleDropdown() {
        var dropdown = document.getElementById("myDropdown");
        if (dropdown.style.display === "block") {
            dropdown.style.display = "none";
        } else {
            dropdown.style.display = "block";
        }
    }

    // Fermer le menu déroulant si l'utilisateur clique en dehors de celui-ci
    window.onclick = function(event) {
        if (!event.target.matches('.dropdown button')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.style.display === "block") {
                    openDropdown.style.display = "none";
                }
            }
        }
    }
</script>

{% endblock %}